<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>James Bond</title>
</head>
<body>
<p>{{.Name}}</p>
<p>{{.Age}}</p>
{{if .LicenseToKill}}
<p>Has license to kill.</p>
{{else}}
<p>Does not have license to kill.</p>
{{end}}
</body>
</html>