<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<!-- Did this template without cheating -->
{{range .}}
    {{.Meal}}<br>
        {{range .Entrees}}
            {{.Name}}<br>
            {{.Description}}<br>
            {{.Price}}<br>
        {{end}}

{{end}}

</body>
</html>