<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{.Name}}<br>
{{.Age}}<br>
{{.Process}}<br> 
{{.AgeDbl}}<br>
{{.Age | .Args}}<br>
{{.AgeDbl | .Args}}<br>


</body>
</html>